body {
    background-color: #F8E7D5;
}

h1.main-header {
    color: #603813;
    font-family:'Oswald', Helvetica;
    text-align: center;
    font-size: 50px;
}

p.quote {
    color: #FA9873;
    text-align: center;
    font-family: 'Oswald', Helvetica;
    font-size: 25px;
}

.another-button {
    position: relative;
    width:220px;
    height:40px;
    text-align:center;
    color:#FFF;
    text-decoration:none;
    line-height:43px;
    font-family:'Oswald', Helvetica;
    display: block;
    margin: 0 auto;
    text-shadow:-1px -1px 0 #A84155;
    background: #603813;
    border:1px solid #603813;

    background-image:-webkit-linear-gradient(top, #FA9873, #603813);
    background-image:-moz-linear-gradient(top, #FA9873, #603813);
    background-image:-ms-linear-gradient(top, #FA9873, #603813);
    background-image:-o-linear-gradient(top, #FA9873, #603813);
    background-image:linear-gradient(to bottom, #FA9873, #603813);

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.another-button:active {
    -webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
    top:5px;
}

.another-button:hover {
    background: #FA9873;
    background-image:-webkit-linear-gradient(top, #603813, #FA9873);
    background-image:-moz-linear-gradient(top, #603813, #FA9873);
    background-image:-ms-linear-gradient(top, #603813, #FA9873);
    background-image:-o-linear-gradient(top, #603813, #FA9873);
    background-image:linear-gradient(top, #603813, #FA9873);
}

.center-content {
    text-align: center;
}

.quote-content {
    width: 50%;
    margin: 0 auto;
}

#ron_img {
    width: 400px;
}

.social {
    margin-top: 30px;
}

.social div {
    vertical-align:top;
    display: inline-block;
}

.footer {
    width:100%;
    height: 50px;
    position:absolute;
    bottom:0;
    left:0;
    font-family: 'Oswald', Helvetica;
}

.footer p {
    color: #603813;
}

.footer a {
    color: #FA9873;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.twitter-div {
    margin-left: 30px;
}
